body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
font-family: 'Nunito', sans-serif;
padding: 0px;
border: 0px;
}

.eglise {
padding: 5px;
text-align: center;
font-family: 'Nunito', sans-serif;
background-image: url('../images/egl.jpg');
opacity: 0.73;
}

.eglise h2 {
	background-color:  #ebfaeb;
	opacity: 0.7;
	margin: 250px;
	padding: 20px;
}

.fa-stack {
	color: black;
	padding-top: 10px;
}

