body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
font-family: 'Nunito', sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
font-family: 'Nunito', sans-serif;
}

.starter-template h2 {
	padding-top: 30px;
}

#rsvp {
text-align: center;
font-family: 'Nunito', sans-serif;
}

#rsvp .btn {
margin-bottom: 40px;
}

.btn-lg {
	font-size: 25px;
}

